#CoursesContainer{
    box-sizing: border-box;
    padding: 30px 10px 10px;
    width: 100%;
    min-height: 100vh;
}

#CoursesContainer h1{
    text-align: center;
}
.courseContainer{
    padding: 5px 20px;
    background-color: var(--primary);
    margin: 10px 0;
    height: 200px;
    cursor: pointer;
    display: flex;
}

.descriptionContainer{
    padding: 20px;
    width: 80%;
    overflow: hidden;
}
.courseContainer:hover{
    background-color: var(--primary-hover);
}