.HeaderContainer{
    color: var(--text-primary);
    position: relative;
    padding: 25px 15px 10px;
}

.HeaderContainer .logo{
    height: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
}