.HomeContainer{
    color: var(--text-secondary);
    box-sizing: border-box;
    background-color: var(--background);
    min-height: 100vh;
    max-width: 100vw;
}
.HomeContainer .banner{
  position: relative;
}
.HomeContainer .banner h1, .HomeContainer .banner h5{
  position: relative;
  top: 50%;
  text-shadow: 1px 1px 2px black, 0 0 25px gray, 0 0 5px rgb(58, 58, 58);
}
.HomeContainer .aboutme, .HomeContainer .subscribe, .HomeContainer .testimonial{
  padding: 10vw 10vw;
  margin: 0 10px;
  position: relative;
  bottom: 40px;
}
.HomeContainer .banner{
  padding: 20px;
  height: 90vh;
  background-image: url('../../images/katie-web-banner1.jpg');
  background-size: cover;
  background-position: 85% 35%;
  background-repeat: no-repeat;
}
.HomeContainer .aboutme{
  background-image: url('../../images/katie_couple2.jpg');
  background-size: cover;
  background-position: 0% 50%;
  background-attachment: fixed;
}
.HomeContainer p{
    background-color: rgba(5, 5, 5, .5);
    padding: 9px;
    text-shadow: 1px 1px 2px black, 0 0 25px gray, 0 0 5px rgb(56, 56, 56);
}
.HomeContainer .subscribe{
  font-size: 19px;
  background-image: url('../../images/katie_couple.jpg');
  background-position: 30% 15%;
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
  padding-top: 20vh;
}
.HomeContainer .testimonial{
  color: var(--text-primary);

}
.HomeContainer .cardContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.HomeContainer .cardContainer .card .pic{
  border-radius: 50%;
  box-shadow: 4px 4px 50px black;
  height: 100px;
  width: 100px;
  background-size: 130%;
  background-position: 50% 50%;
}
.testimonial .name, .testimonial .title, .testimonial .pic{
  margin: 15px auto 25px;
}
.testimonial .card .pic.one{
  background-image: url('../../images/review1.png');
}
.testimonial .card .pic.two{
  background-image: url('../../images/review2.png');
}
.testimonial .card .pic.three{
  background-image: url('../../images/review3.png');
}
.HomeContainer .cardContainer .card {
  padding: 30px;
  text-align: center;
}
