#PathDetailContainer{
  box-sizing: border-box;
  position: absolute;
}
#PathDetailContainer img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: .6;
    z-index: 0;
}
#PathDetailContainer .close{
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}
.close:hover{
    color: white;
}
.backgroundImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px 20px;
  background-color: var(--background);
  filter: grayscale(70%) opacity(30%);
  background-size: cover;
  background-position: top center;
}