ul.nav{
  display: flex;
  align-items: center;
  position: relative;
  /* top: 15px; */
}
ul.nav li{
  padding: 20px 26px;
  position: relative;
  text-align: center;
  height: 100%;
}
ul.nav > li:hover{
    background-color: var(--primary-hover);
    /* color: var(--text-secondary) */

}
.subMenu{
    position: absolute;
    background-color: var(--primary-hover);
    right: 0px;
    top: calc(var(--header-height));
    display: none;
    width: max-content;
}
.subMenu li:hover{
    background-color: var(--primary);
    border: 1px solid gray;
}
ul.nav > li:hover .subMenu{
    display: block;
}